# A list of nostr relays to search
NOSTR_RELAYS=wss://nostrue.com,wss://nos.lol,wss://relay.damus.io

# A list of fallback blossom servers
BLOSSOM_SERVERS=https://cdn.satellite.earth

# The max file size to serve
MAX_FILE_SIZE='2 MB'
